@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Colorado - Consumo Api RestFull</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser ativado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
    Para depuração local, ative o ambiente <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Desenvolvimento</strong>
    e reiniciando o aplicativo.
</p>
